<input type="file" id="uploadingFile" (change)="getFile($event)" accept="txt"/>
<div>
<p
*ngIf="showMessage"
[class.greenText] = "showMessage"
>
{{ message }}</p>
<p
*ngIf="showDuplicateMessage"
[class.redText] = "showDuplicateMessage"
>
{{ duplicateMessage }}
</p>
<p
*ngIf="showErrorMessage"
[class.redText] = "showErrorMessage"
>
{{ errorMessage }}
</p>
</div>

<form 
id="coursesByWeekYear"
[formGroup]="addByStartEndDateForm"
>
  <label for="input-week">Startdatum:</label>
  <input id="input-week" type="date" formControlName="startdate" #startdate><br>
  <label for="input-year">Einddatum:</label>
  <input id="input-year" type="date" formControlName="enddate" >
</form>